/* calendar.css */
.container{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  min-height: 100vh;
  /* max-width: 600px; */

}
.calendar {
  /* width: 100%; */
  /* margin: 0 auto; */
  width: 350px;
  padding: 5rem;
}
.tasks{
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 2px solid red;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
.td {
  border: 1px solid #ccc;
  text-align: center;
}
td{
  padding: 32px;
  min-width: 120px;
}
th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* You can add more styles as needed to customize the calendar table */
